body {
    font-family: 'Raleway', sans-serif;
}





#to-do-main {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

@media only screen and (max-width: 995px) {
    #to-do-main {
        grid-template-columns: 1fr;
    }
}


#projectArea {
    margin: 1vh 0 0;
    border-right: 1px solid black;
    height: 100vh;
    width: 35vw;
}

#projectList {
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.3fr;
    font-size: 1.5rem;
    align-items: center;
    justify-items: center;
}

#sidenav-project-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.3fr;
    font-size: 1.5rem;
    align-items: center;
    justify-items: center;
    margin-bottom: 2vh;
}

.project {
    cursor: pointer;
    margin: 0.5rem 0 0 0;
}

.editBtnIcon {
    pointer-events: none;
}


.collapsible-body {
    word-wrap: break-word;
    
}








#taskArea {
    margin: 1vh auto;
    width: 60vw;
}

@media only screen and (max-width: 995px) {
    #taskArea {
        width: 75vw;
    }
}


#task-list-wrapper {
    
    display: block;
    
}

#addTask

#taskList {
    margin: 0 auto;
}

#projTitle {
    text-align: center;
    font-size: 2rem;
}


.collapsible-body {
    word-wrap: break-word;
}

.task-notes {
    max-width: 250px;
}













.material-icons {
    cursor: pointer;
}



.collapsible-header {
    justify-content: space-between;
}

.collapsible-body {
    justify-content: space-between;
}








#task-notes-input-wrapper {
    margin-top: 5vh;
}


